<app-content-container>
  <form>
    <h1><strong>Crie Sua Conta</strong></h1>

    <mat-form-field class="custom-input">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        [formControl]="emailFormControl"
        [errorStateMatcher]="matcher"
        placeholder="Ex. email@exemplo.com"
      />
      <mat-hint>Digite seu email</mat-hint>
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Por favor digite um email válido
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="custom-input">
      <mat-label>Crie um username</mat-label>
      <input
        type="text"
        matInput
        [formControl]="usernameFormControl"
        [errorStateMatcher]="matcher"
        placeholder="Digite um username"
      />
      <mat-hint>Digite um username</mat-hint>
      <mat-error *ngIf="usernameFormControl.hasError('required')">
        Username é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="custom-input">
      <mat-label>Digite seu nome</mat-label>
      <input
        type="text"
        matInput
        [formControl]="nameFormControl"
        [errorStateMatcher]="matcher"
        placeholder="Digite seu nome"
      />
      <mat-hint>Digite seu nome</mat-hint>
      <mat-error *ngIf="nameFormControl.hasError('required')">
        Nome é <strong>obrigatório</strong>
      </mat-error>
      <mat-error *ngIf="nameFormControl.hasError('minlength')">
        O nome deve ter no mínimo 3 caracteres
      </mat-error>
    </mat-form-field>

    <mat-form-field class="custom-input">
      <mat-label>Telefone</mat-label>
      <input
        matInput
        [formControl]="brazilianPhoneFormControl"
        mask="(00) 00000-0000"
        [errorStateMatcher]="matcher"
        placeholder="Digite seu telefone"
      />
      <mat-hint>Digite seu telefone</mat-hint>
      <mat-error *ngIf="brazilianPhoneFormControl.hasError('required')">
        Telefone é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="custom-input">
      <mat-label>CPF</mat-label>
      <input
        matInput
        [formControl]="cpfFormControl"
        mask="000.000.000-00"
        [errorStateMatcher]="matcher"
        placeholder="Digite seu CPF"
      />
      <mat-hint>Digite seu CPF</mat-hint>
      <mat-error *ngIf="cpfFormControl.hasError('required')">
        CPF é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="custom-input">
      <mat-label>Data de Nascimento</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [formControl]="birthDateFormControl"
        placeholder="Escolha sua data de nascimento"
        readonly />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="birthDateFormControl.hasError('required')">
        Data de nascimento é <strong>obrigatória</strong>
      </mat-error>
      <mat-error *ngIf="birthDateFormControl.hasError('matDatepickerParse')">
        Data inválida. Por favor, insira uma data válida.
      </mat-error>
      <mat-error *ngIf="birthDateFormControl.hasError('minAge')">
        Você deve ter no mínimo 18 anos para se cadastrar
      </mat-error>
    </mat-form-field>

    <mat-form-field class="custom-input">
      <mat-label>Senha</mat-label>
      <input
        matInput
        [type]="isPasswordVisible ? 'text' : 'password'"
        [formControl]="passwordFormControl"
        [errorStateMatcher]="matcher"
        placeholder="Digite sua senha"
      />
      <mat-hint>Digite sua senha</mat-hint>
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Senha é <strong>obrigatória</strong>
      </mat-error>
      <mat-error *ngIf="passwordFormControl.hasError('minlength')">
        A senha deve ter no mínimo 8 caracteres
      </mat-error>
      <mat-error *ngIf="passwordFormControl.hasError('pattern')">
        A senha precisa ter pelo menos uma letra maiúscula, uma letra minúscula e um número
      </mat-error>

      <button
        mat-icon-button
        type="button"
        (click)="togglePasswordVisibility()"
        matSuffix
        aria-label="Toggle password visibility"
      >
        <mat-icon>{{ isPasswordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>


    <button
      class="custom-button"
      mat-raised-button
      color="primary"
      [disabled]="!emailFormControl.valid || !passwordFormControl.valid"
      (click)="onSubmit()"
      type="button"
    > Cadastrar </button>
  </form>
</app-content-container>
