@import 'src/styles/colors.scss';

.header-container {
  display: flex;
  align-items: center;

  button {
    margin: 0 0.5rem;
    color: $white-color;
  }

  .logo-container {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    cursor: pointer;

    .logo {
      width: 2rem;
      margin-right: 0.5rem;
      background-color: $white-color;
      border-radius: 50%;
      padding: 0.1rem;
    }

    h1 {
      margin: 0;
      font-size: 1.5rem;
    }
  }

  .spacer {
    flex: 1 1 auto;
  }

  .mat-toolbar {
    color: $white-color;
    padding: 0 6rem;
    justify-content: center;
  }

  .mat-mdc-outlined-button:not(:disabled) {
    border-color: $white-color;
  }

  .light-mode-icon {
    color: $white-color;
  }

  .mat-icon-button {
    color: $white-color;
  }
}

