@import 'src/styles/colors.scss';

.header-container {
  display: flex;
  align-items: center;

  button {
    margin: 0 0.5rem;
    color: $white-color;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .logo {
    width: 2rem;
    margin-right: 0.5rem;
    background-color: $white-color;
    border-radius: 50%;
    padding: 0.1rem;
  }

  .mat-toolbar {
    color: $white-color;
    padding: 0 6rem;
    justify-content: center;
  }

  .mat-mdc-outlined-button:not(:disabled) {
    border-color: $white-color;
  }

  .light-mode-icon {
    color: $white-color;
  }

  .mat-icon-button {
    color: $white-color;
  }
}

