<header class="header-container">
  <mat-toolbar color="primary">
    <ng-container *ngIf="!isMobile(); else mobileMenu">
      <a [routerLink]="'/'" class="logo-container">
        <img src="assets/images/logo.png" alt="App logo" class="logo">
        <h1>ANDRE VOOS</h1>
      </a>

      <span class="spacer"></span>

      <mat-slide-toggle (change)="toggleDarkTheme()">
        <mat-icon *ngIf="isDarkTheme">dark_mode</mat-icon>
        <mat-icon *ngIf="!isDarkTheme" class="light-mode-icon">light_mode</mat-icon>
      </mat-slide-toggle>

      <button mat-button>COMPRE PASSAGENS</button>
      <button mat-button>CONSULTE VOOS</button>
      <button mat-raised-button color="accent" [routerLink]="'/signup'">CADASTRE-SE</button>
      <button mat-stroked-button [routerLink]="'/signin'">LOGIN</button>
    </ng-container>

    <ng-template #mobileMenu>
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </ng-template>
  </mat-toolbar>
</header>
