@import 'src/styles/colors.scss';

.card {
  padding: 1.5rem;

  &.primary {
    background-color: $white-color;
    border: 1px solid $primary-color;
    border-radius: 0.8rem;
  }
  &.secondary {
    background-color: darken($white-color, 20%);
    border-radius: 1rem;
  }
}
