<app-banner alt="Banner da home page"></app-banner>
<app-content-container class="content-container">
  <app-card-search></app-card-search>
  <app-card-search></app-card-search>
  <app-card-search></app-card-search>
  <app-card-search></app-card-search>
  <app-card-search></app-card-search>
  <app-card-search></app-card-search>
  <app-card-search></app-card-search>
  <app-card-search></app-card-search>
  <app-card-search></app-card-search>
  <app-card-search></app-card-search>
  <app-card-search></app-card-search>
  <app-card-search></app-card-search>

</app-content-container>
