<app-banner alt="Banner da home page"></app-banner>
<app-content-container>
  <app-search-form></app-search-form>
  <div class="home-container">
    <h1 class="search-title">Promoções</h1>
    <div class="cards-search-container">
      <app-card-search></app-card-search>
      <app-card-search></app-card-search>
      <app-card-search></app-card-search>
      <app-card-search></app-card-search>
      <app-card-search></app-card-search>
      <app-card-search></app-card-search>
      <app-card-search></app-card-search>
      <app-card-search></app-card-search>
      <app-card-search></app-card-search>
      <app-card-search></app-card-search>
      <app-card-search></app-card-search>
      <app-card-search></app-card-search>
    </div>

    <h2>Depoimentos</h2>
    <div class="cards-review-container">
      <app-card-review></app-card-review>
      <app-card-review></app-card-review>
      <app-card-review></app-card-review>
    </div>
  </div>



</app-content-container>
