.home-container {
  padding: 0 1.5rem;

  .search-title {
    font-style: bold;
    font-weight: 700;
  }

  .cards-search-container, .cards-review-container {
    justify-content: space-evenly !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem 0;
  }
}

h1, h2 {
  margin: 0;
}
