$white-color: #F4EBD9;
$darken-white-color: darken($white-color, 2%);
$blue-color: #0B7189;
$light-blue-color: #aad7d9;
$black-color: #000000;
$gray-color: #121212;
$mid-gray-color: #3e3e3e;

$primary-color: #006064;
$accent-color: #2e7d32;
$error-color: #f44336;
