@import 'src/styles/colors.scss';

.banner-container {
  position: relative;
  width: 100%;
  background-color: $white-color;
  margin: 0;

  &.dark-mode {
    background-color: $grey-color;
  }

  .banner {
    width: 100%;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    pointer-events: none;

    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      $white-color 90%
    );
  }

  &.dark-mode::after {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      $grey-color 90%
    );
  }
}
