<app-content-container>
  <form>
    <h1><strong>Faça Login</strong></h1>

    <mat-form-field class="custom-input">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        [formControl]="emailFormControl"
        [errorStateMatcher]="matcher"
        placeholder="Ex. email@exemplo.com"
      />
      <mat-hint>Digite seu email</mat-hint>
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Por favor digite um email válido
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>


    <mat-form-field class="custom-input">
      <mat-label>Senha</mat-label>
      <input
        type="password"
        matInput
        [formControl]="passwordFormControl"
        [errorStateMatcher]="matcher"
        placeholder="Digite sua senha"
      />
      <mat-hint>Digite sua senha</mat-hint>
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Senha é <strong>obrigatória</strong>
      </mat-error>
      <mat-error *ngIf="passwordFormControl.hasError('minlength')">
        A senha deve ter no mínimo 8 caracteres
      </mat-error>
    </mat-form-field>

    <button
      class="custom-button"
      mat-raised-button
      color="primary"
      [disabled]="!emailFormControl.valid || !passwordFormControl.valid"
      (click)="onSubmit()"
      type="button"
    > Entrar </button>
  </form>
</app-content-container>
