@import 'src/styles/colors.scss';

.search-container {
  margin: 1rem 0;
  display: block;

  .flex-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
  }

  .container-title {
    font-weight: 700;
    font-size: 1.5rem;
  }

  .input-container {
    margin-bottom: -1.25em;
  }

  .mat-button-toggle {
    background-color: $white-color;
    color: $primary-color;
  }

  .mat-button-toggle-checked {
    background-color: $primary-color;
    color: $white-color;
  }
}
