@import 'styles/themes';

@include mat-core();

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@include angular-material-theme($light-theme);

.dark-theme {
  @include angular-material-theme($dark-theme);
}
