@import 'styles/themes';
@import 'styles/colors';

@include mat-core();

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: $primary-color;
  background-color: $white-color;
  max-width: 100%;
}

@include angular-material-theme($light-theme);

.dark-theme {
  @include angular-material-theme($dark-theme);

  background-color: $grey-color;
}

.mobile {
  display: flex;
  justify-self: center;
}

.error-snackbar {
  div {
    background-color: $error-color !important;
    border-radius: 1rem;

    span {
      color: $white-color;
    }
  }
}
.success-snackbar {
  div {
    background-color: $accent-color !important;
    border-radius: 1rem;

    span {
      color: $white-color;
    }
  }
}
